<div style="padding: 15px">
  <mat-card-title>{{ city }}</mat-card-title>
</div>
<div *ngFor="let item of cardData">
  <mat-card
    *ngIf="item.locationData.location == city"
    class="example-card"
    (click)="onCard(item)"
    style="margin: 5px"
  >
    <mat-card-header style="display: block">
      <mat-card-title-group>
        <mat-card-title>{{ item.infoData.name }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content style="word-break: break-word">
      {{ item.infoData.description }}
    </mat-card-content>
    <div
      style="
        width: fit-content;
        padding: 5px 20px;
        background-color: #12258b;
        color: white;
        border-radius: 7px;
      "
    >
      {{ item.locationData.location }}
    </div>
  </mat-card>
</div>
